apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # Menggunakan nama service 'prometheus' karena berada dalam satu docker network
    url: http://prometheus:9090
    isDefault: true
    editable: true